header.header
  h1.header__title This Interior
  .topbar
    input(type="checkbox" title="Menu topbar").topbar__input
    img(src="assets/icon-hamburger.svg" alt="icon hamburger").topbar__icon.topbar__icon--hamburger
    img(src="assets/icon-close.svg" alt="icon close").topbar__icon.topbar__icon--close
    nav.main-nav
      ul.list
        li.list__item: a(href="#").list__link Home
        li.list__item: a(href="#").list__link Collection
        li.list__item: a(href="#").list__link About
        li.list__item: a(href="#").list__link Contact
