main.main
  div
    h2.main__title Modern interior
    p.main__text A full-Service residential & commercial interior design and staging company offering professional organizing & eco-services.
    span.main__link Read more 
      img(src="assets/arrow.svg" alt="arrow").icon-arrow
  .gallery
    img(src="assets/photo1.png" alt="photo").gallery__img
    .card
      div.card__data
        img(src="assets/photo2.png" alt="photo2").card__img
        div.card__info
          h2.card__name Aliza Webber
          p.card__jobs Interior designer
      p.card__text Designed in 2020 by Aliza Webber